{% extends 'root.html' %}

{% block css %}

{% endblock %}

{% block content %}

<div class="content-wrapper">
  <div class="row mt-5">
    <div class="col-sm-7">
      <h4 class="fw-light mb-3" style="line-height: 40px;">Penelitian mengenai identifikasi wajah dan prakteknya pada
        <span class="fw-bold">presensi kehadiran</span> pada aplikasi <i class="fw-bold">zoom</i>. Mengimplementasi <i
          class="fw-bold">Oriented Fast and Rotated Brief (ORB)</i> sebagai deskriptor untuk mendapatkan <i
          class="fw-bold">keypoint</i>.</h4>
    </div>
    <div class="col-sm-5">
      <img src="https://miro.medium.com/max/720/1*AcH6EgHVgy3x7QGmZhcW8g.jpeg" alt="" class="img" style="width: 100%;">
    </div>
  </div>
</div>
{% endblock %}